
.radio-btn__label {
  color: var(--bg-colour);
  display: inline-block;
  font-weight: bold;
  margin-left: -1.25rem;
  padding: 0.2rem 0.5rem;
  position: relative;
  text-transform: capitalize;
  z-index: 3;
}
.radio-btn__label::before {
  background-color: var(--txt-colour);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}
.radio-btn__label::after {
  background-color: #6d6;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity ease-in-out 0.2s;
  z-index: -1;
}

.radio-btn__input {
  opacity: 0;
}
.radio-btn__input:checked + .radio-btn__label::after {
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}
.radio-btn__input:focus + .radio-btn__label {
  outline: 0.25rem dotted #ffee01;
}

.radio-grp {
  border-radius: 2rem;
  border: var(--line-weight-hvy) solid var(--txt-colour);
}
.radio-grp__label {

}
.radio-grp__h {
  margin: 0;
}
.radio-grp__input {

}
.radio-grp__input:checked {

}
.radio-grp__input:checked + .radio-grp__label {

}
