

.tab-nav {
  --line-weight: 0.05rem;

  &__list {
    border-bottom: var(--line-weight) solid var(--txt-colour);

    > li {
      display: inline-block;
      padding: 0 !important;
      // margin-bottom: -0.1rem;
    }
  }

  &__btn {
    display: inline-block;
    border:var(--line-weight) solid  var(--txt-colour);
    color: var(--txt-colour);
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem calc(var(--line-weight) * -1);
    background-color: var(--bg-colour);
    font-weight: bold;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    &--active {
      border-bottom-color: var(--bg-colour);
    }
  }
}


.tab-wrapper {
  .tab-block {
    display: none;

    &--active {
      display: block;
    }
  }
  &--mobile {
    .tab-nav {
      display: none;

      &__btn {
        &.tab-nav--accordion {
        border: .05rem solid var(--txt-colour);
        padding: 0.3rem 0.5rem;
        display: block;
        border-radius: 0;
      }}
    }

    .tab-block {
      display: block;

      .tab-block__h {
        display: block;
      }
    }

    @media screen and (min-width: 30rem) {
      .tab-nav {
        display: block;

        &__btn {
          &.tab-nav--accordion {
            border: 0;
            padding: 0 0.5rem;
          }
        }
      }

      .tab-block {
        .tab-block__h {
          display: none;
        }

        &--active {
          .tab-block__h {
            display: block;
          }
        }
      }
    }
  }
}
