

input, textarea, select {
  background-color: var(--bg-colour);
  border-color: var(--txt-colour);
  border-width: var(--line-weight-hvy);
  color: var(--txt-colour);
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
}

textarea.lg {
  height: 20rem;
}
textarea.xl {
  height: 35rem;
}

.input-pair {
  display: flex;
  justify-content: space-between;
}
.input-pair__label {
  flex-grow: 1;
  padding-right: 1rem;
  text-align: right;
}
.input-pair__suffix {
  min-width: 1.5rem;
}
.input-pair__input {
  align-items: center;
}
.input-pair__input[type=range] {
  position: relative;
  bottom: 0.4rem;
}
.input-pair--top-2 {
  margin-top: 2rem !important;
}

.oneOff-input__split__input {
  width: 4rem;
}

.search-block {
  background-color: var(--bg-colour);
  border-bottom: var(--line-weight-hvy) solid var(--txt-colour);

}
.search-block__search {
  display: inline-block;
  width: 100%;
  border: none;
  padding: 0.2rem 1.3rem 0.3rem 0.4rem;
  margin-right: -1.3rem;
}
.search-block__icon {
  color: var(--txt-colour);
  font-size: 1.4rem;
  display: inline-block;
  margin-top: -0.45rem;
  position: relative;
  top: 0.2rem;
}
