
.regex-multi__header {
  align-items: center;
  background-color: var(--over-color);
  display: grid;
  grid-template-columns: 1fr auto;
  left: 0;
  padding: 0 0.3rem;
  position: fixed;
  right: 0;
  top: 0;
}
.regex-multi__header .header-1 {
  color: var(--txt-colour);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  margin-bottom: -0.4rem;
  margin-top: -0.55rem;
  padding: 0.3rem 0.3rem 0.3rem 0;
  transform: scaleY(50%);
}
