// .regex-pairs {
//   // overflow-y: auto;
//   overflow-x: hidden
// }

.r-pair {
  // overflow: hidden;
  position: relative;
  padding: 0 0.5rem;
  border-top: var(--line-weight) solid var(--txt-colour);

  &--1 {
    border-top: none;
  }

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__main {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 3rem 1fr;
    grid-template-areas:
      "regex-error regex-error"
      "flags-error flags-error"
      "regex-field regex-field"
      "flags-field replace-field";
    // padding: 0.3rem 0;

    &--full-width {
      .r-pair__field {
        display: block;
        width: 100%;
      }
    }

    @media screen and (min-width: 30rem) {
      grid-template-columns: 3.5rem 1fr 3rem;
      grid-template-areas:
        "regex-error regex-error regex-error"
        "flags-error flags-error flags-error"
        "regex-label regex-field flags-label"
        "replace-label replace-field flags-field";
    }

    @media screen and (min-width: 36rem) {
      grid-template-columns: 1fr 3rem 1fr;
      grid-template-areas:
        "regex-error regex-error regex-error"
        "regex-label flags-label replace-label"
        "regex-field flags-field replace-field"
        ". flags-error flags-error";

      &--full-width {
        grid-template-columns: 3.5rem 1fr 3rem;
        grid-template-areas:
          "regex-error regex-error regex-error"
          "flags-error flags-error flags-error"
          "regex-label regex-field flags-label"
          "replace-label replace-field flags-field";
      }
    }
  }

  &__error {
    &-regex {
      grid-area: regex-error;
    }
    &--flags {
      grid-area: flags-error;
    }
  }

  &__label {
    display: none;

    @media screen and (min-width: 30rem) {
      display: inline-block;
      &--regex {
        grid-area: regex-label;
      }
      &--flags {
        align-self: end;
        grid-area: flags-label;
      }
      &--replace {
        grid-area: replace-label;
      }
    }
  }

  &__field {
    &--regex {
      grid-area: regex-field;
    }
    &--flags {
      align-self: start;
      grid-area: flags-field;
    }
    &--replace {
      grid-area: replace-field;
    }
  }

  &__txt {
    min-height: 5rem;
  }


  &__footer {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding-left: 2rem !important;

    > .rnd-btn--settings {
      bottom: .3rem;
      left: 0;
      min-height: 1.1rem !important;
      min-width: 1.1rem !important;
      position: absolute;
    }
  }

  &__flags {
    display: inline-block;
    // width: 4rem;
  }

  &__control {
    flex-grow: 1;
    margin: 0;
    padding: 0 .5rem;
  }

  &__sibling-ctrl {
    text-align: right;
    margin: 0;
    padding: 0;

    li {
      padding: 0.1rem 0;
    }
  }

  &__h {
    margin: 0;
  }

  &__move-to {
    &__wrap {
      background-color: var(--txt-colour);
      border-radius: 0.825rem;
      color: #000;
      display: inline-block;
      height: 1.75rem;
      padding-right: 0.5rem;
    }
    &__label {
      display: inline-block;
      padding: .25rem .3rem .25rem .75rem;
      transform: translateY(0.1rem)
    }
    &__field {
      border: none;
    }
  }
}

