.settings {
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.9);
  left: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  transition: transform var(--ease) var(--timing);
  transform-origin: 2% 90%;
  width: 100%;
  z-index: 100;

  &__wrap {
    position: relative;
  }

  + * {
    transition-delay: calc(var(--timing) * 0.25);
    transition-timing-function: var(--ease);
    transition-duration: calc(var(--timing) * 0.75);
    transition-property: opacity;

  }

  &--opened {
    transform: scale(1);
    > * {
      opacity: 1;
    }
  }

  &--closed {
    transform: scale(0);
    > * {
      opacity: 0;
    }
  }
}
