
.cb-btn {
  &__label {
    display: block;
    border: 0.1rem solid #aaa;
    max-width: 24rem;
    padding: 0.2rem 0.5rem;
    position: relative;
    text-align: center;

    &--centre {
      margin: 0.1rem auto;
    }

    &--badge::before {
      border: 0.1rem solid  var(--txt-colour);
      border-radius: 50%;
      color: var(--txt-colour);
      content: '\02717';
      display: inline-block;
      font-size: 0.86rem;
      height: 1em;
      left: 0.35rem;
      line-height: 1;
      // opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1em;
    }

    &--star::before {
      content: '\02605' !important;
    }
    &--heart::before {
      content: '\02665' !important;
    }
    &--search::before {
      content: '\02315' !important;
    }
    &--target::before {
      content: '\02316' !important;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    display: inline-block;
    position: absolute;
    opacity: 0;
    margin-right: -1rem;
    margin-bottom: -1rem;

    &:checked + .cb-btn__label {
      background-color: rgba(255, 255, 255, 0.85);
      color: #000;

      &--badge::before {
        background-color: var(--bg-colour);
        border-color: var(--bg-colour);
        color: var(--txt-colour);
        content: '\02713';
      }
    }

    &:focus + .cb-btn__label {
      outline: 0.15rem dotted var(--txt-colour);
    }
  }
}
