
.rnd-btn {
  border: none;
  border-radius: 50%;
  display: inline-block;
  /* font-weight: bold; */
  height: 1.75rem;
  margin: 0 0.25rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -100rem;
  transition: transform ease-in-out 0.3s;
  width: 1.75rem;

  &::after {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    left: 51.5%;
    text-indent: 0;
    top: 45%;
    transform: translate(-50%, -50%);
  }

  &--danger {
    background-color: #900;
    color:var(--txt-colour);
  }

  &--disable {
    background-color: rgb(231, 227, 10);
    /* color: #000; */

    &::after {
      content: '!';
    }
  }

  &--delete::after {
    content: '\000D7';
  }

  &--reset::after {
    content: '\021BA';
    transform: translate(-53%, -50%);
  }

  &--set-default {
    background-color: rgb(164, 235, 191);
    /* color: rgb(255, 251, 0); */

    &::after {
      content: '\02299';
      top: 42%;
    }
  }

  &--move {
    background-color: rgb(198, 188, 233);

    &::after {
      content: '\025BF';
      font-size: 2.5rem;
      top: 47%;
    }

    &--up::after {
      content: '\025B5';
      top: 41%;
    }
  }

  &--add {
    background-color: rgb(77, 201, 128);

    &::after {
      content: '+'
    }
  }

  &--settings {
    border: 0.1rem solid var(--txt-colour);
    background-color: #000;
    height: 1.1em;
    width: 1.1em;
    opacity: 1;
    transition: transform, opacity ease-in-out 0.3s;

    &::after {
      color: var(--txt-colour);
      content: '\02237';
      font-size: 0.8em;
      top: 38%;
      left: 50%;
    }

    &--close {
      align-self: flex-end;
      order: -1;
      margin-bottom: 0.2rem;

      // &::before {
      //   bottom: -40rem;
      //   content: '';
      //   left: -1rem;
      //   position: fixed;
      //   right: -1rem;
      //   top: -40rem;
      //   z-index: -1;
      // }
    }

    &--open {
      margin: 0 0 0 -0.3rem;

      &-is {
        opacity: 0;
      }
    }
  }
}

.r-pair {
  &-pair__btn {
    border: .05rem solid #ccc;

    &:first-child {
      border-top-left-radius: .75rem;
      border-bottom-left-radius: .75rem;
    }

    &:last-of-type {
      border-top-right-radius: .75rem;
      border-bottom-right-radius: .75rem;
    }
  }
}

.main-btn {
  border: none;
  padding: 0.3rem 0.5rem;
  width: 5rem;
  text-transform: uppercase;

  &--test {
    background-color:rgb(82, 179, 122);
  }
  &--replace,
  &--modify {
    background-color:rgb(143, 150, 219);
  }
  &--reset {
    background-color: rgb(200,0,0);
    color: var(--txt-colour);
  }
}

.cb-btn {
  &__label {
    display: block;
    border: 0.1rem solid #aaa;
    max-width: 24rem;
    padding: 0.2rem 0.5rem;
    position: relative;
    text-align: center;

    &--centre {
      margin: 0.1rem auto;
    }

    &--badge::before {
      border: 0.1rem solid  var(--txt-colour);
      border-radius: 50%;
      color: var(--txt-colour);
      content: '\02717';
      display: inline-block;
      font-size: 0.86rem;
      height: 1em;
      left: 0.35rem;
      line-height: 1;
      // opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1em;
    }

    &--star::before {
      content: '\02605' !important;
    }
    &--heart::before {
      content: '\02665' !important;
    }
    &--focus::before {
      content: '\02315' !important;
    }
    &--target::before {
      content: '\02316' !important;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    display: inline-block;
    position: absolute;
    opacity: 0;
    margin-right: -1rem;
    margin-bottom: -1rem;

    &:checked + .cb-btn__label {
      background-color: var(--over-color-rev);
      color: #000;

      &--badge::before {
        background-color: var(--bg-colour);
        border-color: var(--bg-colour);
        color: var(--txt-colour);
        content: '\02713';
      }
    }

    &:focus + .cb-btn__label {
      outline: 0.15rem dotted var(--txt-colour);
    }
  }
}
