
.rnd-btn {
  border: none;
  border-radius: 50%;
  display: inline-block;
  /* font-weight: bold; */
  height: 2em;
  margin: 0 0.25em;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -100rem;
  transition: transform ease-in-out 0.3s;
  width: 2em;

  &::after {
    display: inline-block;
    font-size: 1.75em;
    font-weight: bold;
    position: absolute;
    left: 51.5%;
    text-indent: 0;
    top: 45%;
    transform: translate(-50%, -50%);
  }

  &--xs { font-size: 0.5rem; }
  &--sm { font-size: 0.7rem; }
  &--lg { font-size: 1.3rem; }
  &--xl { font-size: 1.5rem; }

  &--danger {
    background-color: #900;
    color: #fff;
  }

  &--disable {
    background-color: rgb(231, 227, 10);
    /* color: #000; */

    &::after {
      content: '!';
      left: 50%;
    }
  }

  &--delete::after {
    content: '\000D7';
  }

  &--reset::after {
    content: '\021BA';
    transform: translate(-53%, -52%);
  }

  &--set-default {
    background-color: rgb(164, 235, 191);
    /* color: rgb(255, 251, 0); */

    &::after {
      content: '\02299';
      top: 42%;
      left: 49%;
    }
  }

  &--move {
    background-color: rgb(198, 188, 233);

    &::after {
      content: '\025BF';
      font-size: 2.5rem;
      top: 47%;
    }

    &--up::after {
      content: '\025B5';
      top: 41%;
    }
  }

  &--add {
    background-color: rgb(77, 201, 128);

    &::after {
      content: '+';
      left: 50%;
    }
  }

  &--settings {
    border: var(--line-weight-hvy) solid var(--txt-colour);
    background-color: var(--bg-colour);
    opacity: 1;
    transition: transform, opacity ease-in-out 0.3s;

    &::after {
      color: var(--txt-colour);
      content: '\02237';
      top: 38%;
      left: 50%;
    }

    &--close {
      align-self: flex-end;
      order: -1;
      margin-bottom: 0.2em;

      // &::before {
      //   bottom: -40rem;
      //   content: '';
      //   left: -1rem;
      //   position: fixed;
      //   right: -1rem;
      //   top: -40rem;
      //   z-index: -1;
      // }
    }

    &--open {
      margin: 0 0 0 -0.3em;

      &-is {
        opacity: 0;
      }
    }
  }
}

.main-btn {
  border: none;
  padding: 0.3rem 0.5rem;
  width: 5rem;
  text-transform: uppercase;

  &--test {
    background-color:rgb(82, 179, 122);
  }
  &--replace,
  &--modify {
    background-color:rgb(143, 150, 219);
  }
  &--reset {
    background-color: rgb(200,0,0);
    color: var(--txt-colour);
  }
}

