:root {
  --dark-bg: #2d2b2b;
  --dark-txt: #fff;
  --dark-over-colour: rgba(0, 0, 0, 0.85);
  --dark-over-colour-rev: rgba(255, 255, 255, 0.85);

  --light-bg: #fff;
  --light-txt: #2d2b2b;
  --light-over-colour: rgba(255, 255, 255, 0.85);
  --light-over-colour-rev: rgba(0, 0, 0, 0.85);

  --custom-bg: #2d2b2b;
  --custom-txt: #fff;
  --custom-over-colour: rgba(0, 0, 0, 0.85);
  --custom-over-colour-rev: rgba(255, 255, 255, 0.85);

  --bg-colour: var(--dark-bg, #2d2b2b);
  --txt-colour: var(--dark-txt ,#fff);
  --over-colour: var(--dark-over-colour, rgba(0, 0, 0, 0.85));
  --over-colour-rev: var(--dark-over-colour-rev, rgba(255, 255, 255, 0.85));

  --font-size: 16px;
  --timing: 0.4s;
  --ease: ease-in-out;
  --line-weight: 0.05rem;
  --line-weight-hvy: .1rem;

  --danger: rgb(200,0,0);
  --hazard: rgb(231, 227, 10);
  --success: rgb(77, 201, 128);
  --warning: rgb(143, 150, 219);
}

.ui-darkmode {
  --bg-colour: var(--dark-bg, #2d2b2b);
  --txt-colour: var(--dark-txt ,#fff);
  --over-colour: var(--dark-over-colour, rgba(0, 0, 0, 0.85));
  --over-colour-rev: var(--dark-over-colour-rev, rgba(255, 255, 255, 0.85));
}

.ui-lightMode {
  --bg-colour: var(--light-bg, #2d2b2b);
  --txt-colour: var(--light-txt ,#fff);
  --over-colour: var(--light-over-colour, rgba(255, 255, 255, 0.85));
  --over-colour-rev: var(--light-over-colour-rev, rgba(0, 0, 0, 0.85));
}

.ui-customMode {
  --bg-colour: var(--custom-bg, #2d2b2b);
  --txt-colour: var(--custom-txt ,#fff);
  --over-colour: var(--custom-over-colour, rgba(0, 0, 0, 0.85));
  --over-colour-rev: var(--custom-over-colour-rev, rgba(255, 255, 255, 0.85));
}
